[Unit]
Description=MongoDB Database Server
Documentation=https://docs.mongodb.org/manual
After=network.target
StartLimitIntervalSec=1

[Service]
Restart=always
RestartSec=5
TimeoutSec=300

User=kuma
Group=kuma

ExecStart=/opt/mongodb/bin/mongod --config /opt/mongodb/cfg/mongod.conf

LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity
LimitNOFILE=128000
LimitNPROC=64000
LimitMEMLOCK=infinity
TasksMax=infinity
TasksAccounting=false

[Install]
WantedBy=multi-user.target
